<% layout('./layouts/boilerplate.ejs') %>

<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      class="needs-validation"
      action="/campgrounds"
      method="POST"
      enctype="multipart/form-data"
      novalidate>
      <div class="form-group mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          required />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="form-group mb-3">
        <label for="formFileMultiple" class="form-label">Add Images</label>
        <input
          class="form-control"
          name="image"
          type="file"
          id="formFileMultiple"
          multiple />
      </div>

      <div class="form-group">
        <label class="form-label" for="price">Price</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="price-label">$</span>
          </div>
          <input
            id="price"
            name="campground[price]"
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="price-label"
            aria-describedby="price-label"
            required />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="campground[description]"
          required></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-info">Add Campground</button>
    </form>
    <div>
      <a href="/campgrounds">Back to Campgrounds</a>
    </div>
  </div>
</div>
